.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    font-size: 60px;
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    .container span {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
    .container span {
        font-size: 32px;
    }
}