.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  border: none;
  border-radius: 9999px; /* суперзакругленные */
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  transition: .7s;
}

.primary:hover {
  background-color: #007EE5 !important;
}

.secondary:hover {
  background-color: var(--blue-light) !important;
}

.button:disabled {
  pointer-events: none;
}

.buttonIcon {
  display: flex;
  align-items: center;
}
