@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue-primary: rgb(69, 165, 246);
  --blue-light: rgb(199, 228, 252);
  --blue-lighter: rgb(218, 237, 253);

  --white: rgb(255, 255, 255);
  --dark: rgb(41, 50, 68);

  --gray: rgb(161, 169, 184);
  --gray-light: rgb(208, 212, 220);
  --gray-background: rgb(246, 246, 248);

  --overlay-dark-50: rgba(68, 83, 113, 0.5);
  --overlay-dark-10: rgba(68, 83, 113, 0.1);

  --red: rgb(225, 40, 40);
  --red-light: rgb(250, 222, 224);

  --purple: rgb(100, 71, 207);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--blue-light);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'CirceRounded', sans-serif;
  font-weight: 400;
  color: #3A353E;
}


